<!DOCTYPE html>
<html>
        <head>

	<title>{{titre_site}} - {{titre_page}}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{{description_site}}">
<meta name="keywords" content="{{mots_cles_site}}">
<meta name="author" content="{{auteur_site}}">

{% for key, og in og_sociaux %}
<meta property="{{ key }}" content="{{ og }}" />
{% endfor %}

{% for css in liste_css %}
	<link rel="stylesheet" type="text/css" href="{{ css.url }}">
{% endfor %}

{% for js in liste_js %}
	<script src="{{ js.url }}"></script>
{% endfor %}

<link rel="icon" href="{{ favicon }}" />

        </head>
        <body>

{% include template_header ignore missing %}
{% include contenu ignore missing %}
{% include template_footer ignore missing %}

        </body>
</html>